body{
    background-image: url(../images/u.png);
    text-align: center;
  }
  
  
  h1{
    font-family: arial;
  
    font-size: 2rem;
    background: linear-gradient(
             to right, #f32170, #ff6b08,
              #cf23cf, #eedd44);
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
  }
  
  p{
    text-align: left;
    font-size: 1.4rem;
    font-family: arial;
    letter-spacing: 2px;
    color: #62b4cf;
  }
  
  .top-con{
    margin: 180px auto 0 auto;
    width: 95%;
  }
  
  .rectangle{
    height: 90px;
    width: 190px;
    margin: 150px auto 0 auto;
    background-color: red;
  }
  